.write{
  padding-top:50px;
}
.writeForm{
  position:relative;
  
}
.writeFormGroup{
  margin-left:150px;
  display:flex;
  align-items:center;
}

.writeIcon{
  width:20px;
  height:20px;
  font-size:20px;
  border-radius:50%;
  border:1px solid #ccc;
  display:flex;
  align-items:center;
  justify-content:center;
  color:gray;
  padding:5px;
  cursor:pointer;
  font-weight:400px;
}
.writeInput{
  font-size:30px;
  border:none;
  padding:20px;
  width:70vw;
  outline:none;
}
.writeInput::placeholder{
  font-weight:400;
  color:gray;
}

.writeText{
  width:70vw;
  height:100vh;
  border:none;
  font-size: 20px;
  margin-top:1px;
}
.writeSubmit{
  display:flex;
  position:absolute;
  top:20px;
  right:50px;
  color:white;
  background-color:teal;
  padding:10px;
  border:none;
  cursor:pointer;
  align-items:center;
  border-radius:10%
  
}