.post{
  width:385 px;
  margin:10px 25 px 40 px 25px;
  padding:15px;
  display: flex;
  flex-direction: column;
}
.postImg{
  width:240px;
  height:240px;
  object-fit: cover;
  margin-top:20px;
  cursor: pointer;
}
.postInfo{
  display:flex;
  flex-direction: column;
  margin-top:4px;
}
.postCat{
  display:flex;
  align-items:left;
  justify-content:left;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  line-height:14px;
  margin-top: 4px;
  cursor: pointer;

}
.postTitle{
  display:flex;
  align-items:left;
  margin-top:4px;
  justify-content:left; 
  cursor: pointer;
}
.postDate{
  font-family: "Lora", serif;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 7px;
  align-content:left;
  justify-content:flex-start; 
}
